

.card{
  box-shadow: 0 0 30px rgba(0,0,0, .3);
  height: 400px;
  
}

.card-header{
  border-radius: 15px 15px 0px 0px; 
  position: relative;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.card-header-bar{
  position: absolute;
  top:0;
  width: 100%;
  z-index: 1;
  width: 100%;
  
}

svg .polygon{
  fill: #fff;
}
.card-header-slanted-edge{
  position: absolute;
  bottom: -1px;
  z-index: 1;
  width: 100%;
  right:0;
  left:0;
}

.btn-follow{
  position: absolute;
  top: -20%;
  right: 10%;
  width: 30px;
  height: 30px;
  border-radius:100%;
}

.green {
  background: linear-gradient(to top, #0f7539, #5fffc7,#0f7539);
}

.red {
  background: linear-gradient(to top, #750f0f, #f12626, #750f0f);
}


.card-body{
  text-align:center;
}

.name{
  text-transform: uppercase;
  margin: 0 auto;
}

.job-title{
  margin-top: 5px;
  color: #919191;
}

.bio{
  color: #7B7B7B;
}

.social-accounts{
  margin-top: 10%;
}
.social-accounts a{
  margin-left: 10%;
}
.social-accounts a:first-child{
  margin-left: 0;
}


.stat{
  box-sizing: border-box;
  width: calc(100% / 2);
  float: left;
  text-align: center;
  border-left: 1px solid #EBEBEB;
}
.stat .label{
  display: block;
  text-transform: uppercase;
  color: #95989A;
}

.stat .value{
  display: block;
  font-weight: 700;
  font-size:20px;
  margin-top: 5px;
}
