<div class="row container-fluid " style="margin :0 ;margin-top :1%" >

    <div class="col-md-3 col-sm-6 ">
        <div class="card">
            <div class="card-header">
                  <div class="card-header-slanted-edge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>
                    <a href="#" class="btn-follow red  "></a>
                  </div>
            </div>
      
            <div class="card-body">
                <h2 class="name">John Smith</h2>
                <h4 class="job-title">Transporter</h4>
                <div class="bio">21-10-2021 at 10:00</div>
                <div class="social-accounts">
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-phone"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-envelope"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-angle-double-right"></i></button></a>
                </div>
            </div>
      
            <div class="card-footer">
                <div class="stats">
                    <div class="stat">
                      <span class="label">From</span>
                      <span class="value">Sousse</span>
                    </div>
                    <div class="stat">
                      <span class="label">To</span>
                      <span class="value">Monastir</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 ">
        <div class="card">
            <div class="card-header">
                  <div class="card-header-slanted-edge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>
                    <a href="#" class="btn-follow red  "></a>
                  </div>
            </div>
      
            <div class="card-body">
                <h2 class="name">John Smith</h2>
                <h4 class="job-title">Transporter</h4>
                <div class="bio">21-10-2021 at 10:00</div>
                <div class="social-accounts">
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-phone"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-envelope"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-angle-double-right"></i></button></a>
                </div>
            </div>
      
            <div class="card-footer">
                <div class="stats">
                    <div class="stat">
                      <span class="label">From</span>
                      <span class="value">Sousse</span>
                    </div>
                    <div class="stat">
                      <span class="label">To</span>
                      <span class="value">Monastir</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 ">
        <div class="card">
            <div class="card-header">
                  <div class="card-header-slanted-edge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>
                    <a href="#" class="btn-follow red  "></a>
                  </div>
            </div>
      
            <div class="card-body">
                <h2 class="name">John Smith</h2>
                <h4 class="job-title">Transporter</h4>
                <div class="bio">21-10-2021 at 10:00</div>
                <div class="social-accounts">
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-phone"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-envelope"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-angle-double-right"></i></button></a>
                </div>
            </div>
      
            <div class="card-footer">
                <div class="stats">
                    <div class="stat">
                      <span class="label">From</span>
                      <span class="value">Sousse</span>
                    </div>
                    <div class="stat">
                      <span class="label">To</span>
                      <span class="value">Monastir</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 ">
        <div class="card">
            <div class="card-header">
                  <div class="card-header-slanted-edge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>
                    <a href="#" class="btn-follow red  "></a>
                  </div>
            </div>
      
            <div class="card-body">
                <h2 class="name">John Smith</h2>
                <h4 class="job-title">Transporter</h4>
                <div class="bio">21-10-2021 at 10:00</div>
                <div class="social-accounts">
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-phone"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-envelope"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-angle-double-right"></i></button></a>
                </div>
            </div>
      
            <div class="card-footer">
                <div class="stats">
                    <div class="stat">
                      <span class="label">From</span>
                      <span class="value">Sousse</span>
                    </div>
                    <div class="stat">
                      <span class="label">To</span>
                      <span class="value">Monastir</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 ">
        <div class="card">
            <div class="card-header">
                  <div class="card-header-slanted-edge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>
                    <a href="#" class="btn-follow red  "></a>
                  </div>
            </div>
      
            <div class="card-body">
                <h2 class="name">John Smith</h2>
                <h4 class="job-title">Transporter</h4>
                <div class="bio">21-10-2021 at 10:00</div>
                <div class="social-accounts">
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-phone"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-envelope"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-angle-double-right"></i></button></a>
                </div>
            </div>
      
            <div class="card-footer">
                <div class="stats">
                    <div class="stat">
                      <span class="label">From</span>
                      <span class="value">Sousse</span>
                    </div>
                    <div class="stat">
                      <span class="label">To</span>
                      <span class="value">Monastir</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 ">
        <div class="card">
            <div class="card-header">
                  <div class="card-header-slanted-edge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>
                    <a href="#" class="btn-follow red  "></a>
                  </div>
            </div>
      
            <div class="card-body">
                <h2 class="name">John Smith</h2>
                <h4 class="job-title">Transporter</h4>
                <div class="bio">21-10-2021 at 10:00</div>
                <div class="social-accounts">
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-phone"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-envelope"></i></button></a>
                  <a href="#"><button type="button" class="btn btn-just-icon"><i class="fa fa-angle-double-right"></i></button></a>
                </div>
            </div>
      
            <div class="card-footer">
                <div class="stats">
                    <div class="stat">
                      <span class="label">From</span>
                      <span class="value">Sousse</span>
                    </div>
                    <div class="stat">
                      <span class="label">To</span>
                      <span class="value">Monastir</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</div>
