<div class="row container-fluid " style="margin :0 ;" >
    <div class="my-class row content-center" style="margin :0 ;" >
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="example-2 card col-sm-11 col-md-3 col-lg-3">
            <div class="wrapper">
                <div class="header">
                    <div class="date">
                        <span class="day">12-</span>
                        <span class="month">Aug-</span>
                        <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                        <li>
                            <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-start-o"><span>18</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">User Name</span>
                        <h1 class="title"><a href="#">Monastir - Sousse</a></h1>
                        <p class="text">Leave at : 12:10</p>
                        <a class="btn btn-round btn-outline-info ">Read more</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

</div>

