<section class="coloredSection">
    <div  class="container {{this.status}} " id="container">
        <div class="form-container sign-up-container card">
            <form action="#" >
                <h2 *ngIf="items.length == 0">You have no Items</h2>
                <h3 *ngIf="items.length > 0">Select from your items</h3>
                <table class="table table-striped" *ngIf="items.length > 0">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Select</th>
                      </tr>
                    </thead>
                    <tbody>
    
                      <tr *ngFor="let item of items">
                        <th>{{item.name}}</th>
                        <td>
                          {{item.weight}}
                        </td>
                        <td>  
                            <button class="plus" (click)="addExistedItem(item.id)">
                                <i class="fa fa-plus"></i> 
                            </button>
                        </td> 
                      </tr>
                      
    
                    </tbody>
                  </table>
                
                <br>
                <button class="btn btn-round btn-block btn-info" *ngIf="items.length > 0">Select</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#" [formGroup]="form"  (submit)="addItem()">
                <h1>Add your item</h1>
                <input
                    formControlName="name"
                    name="name"
                    class="{{nameClass}}" 
                    type="text" 
                    placeholder="{{nameError}}" 
                />
                <input 
                    formControlName="weight"
                    name="weight"
                    class="{{weightClass}}" 
                    type="number"
                    placeholder="{{weightError}}" 
                />
                <br><br>
                <button type="submit" class="btn btn-round btn-info btn-block">Add</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Select an existing item</h1>
                    <p>Please select one of your items</p>
                    <br>
                    
                    <p>Or</p>
                    <br>
                    <button class="ghost btn btn-round btn-outline btn-block"  (click)="onSwitch(0)">Add Item</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Already created ?</h1>
                    <p>Select from your existing items</p>
                    <br>
                    <button class="ghost btn btn-round btn-outline btn-block"  (click)="onSwitch(1)" >Select an existing</button>
                </div>
            </div>
        </div>
    </div>
</section>
        

