<section class="coloredSection" >  
    <div class="form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-7  ">
                <h1 class="font-weight-bold pt-5 pb-3"> Creat your **** </h1>
                <form>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="button" class="btn1"> ok </button>
                        </div>
                    </div>

                </form>
                
            </div>
            <div class="col-lg-5">
                <img src=".\assets\img\delevaddform.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    </div>
</section>