<section class="coloredSection" >  
    <div *ngIf="!isLoading" class="container {{this.status}} " id="container">
        <div class="form-container sign-in-container">
            <form action="#" [formGroup]="form" (submit)="addDeliv()">
                <h1>Add a delivery offer</h1>
                
                <input
                    formControlName="from"
                    class="input"
                    type="text"
                    placeholder="From"
                />

                <input
                    formControlName="to"
                    class="input"
                    type="text"
                    placeholder="To"
                />

                <input
                    formControlName="date"
                    class="input input-daterange"
                    type="date"
                    placeholder="Date"
                />

                <input 
                    formControlName="departTime"
                    class="input" 
                    type="time" 
                />

                <input 
                    formControlName="arrivalTime"
                    class="input" 
                    type="time" 
                />


                <button hidden #next></button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>One More Step</h1>
                    <p>Please chose you profile image</p>
                    <img src="assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image" style="width: 50%;">
                    <br>
                    <p>Or</p>
                    <button class="ghost btn btn-round btn-outline btn-block"  (click)="onSwitch(0)">Go back</button>
                </div>
                
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <br>
                    <button class="ghost btn btn-round btn-outline btn-block"  (click)="next.click()" >Create</button>
                </div>
            </div>
        </div>
    </div>
</section>