<section class="coloredSection" >  
    <div *ngIf="!isLoading" class="container {{this.status}} " id="container">
        <div class="form-container sign-in-container">   
            <form action="#" [formGroup]="form" (submit)="addDeliv()">
                <h1>Add a delivery offer</h1>
                
                
                <input
                    formControlName="from"
                    class="input"
                    type="text"
                    placeholder="From"
                />

                <input
                    formControlName="to"
                    class="input"
                    type="text"
                    placeholder="To"
                />

                <label for="from">date</label>
                <input
                    formControlName="date"
                    class="input input-daterange"
                    type="date"
                    placeholder="Date"
                />

                <label for="from">Depart Time</label>
                <input 
                    formControlName="departTime"
                    class="input" 
                    type="time" 
                />

                <label for="from">Arrival Time</label>
                <input 
                    formControlName="arrivalTime"
                    class="input" 
                    type="time" 
                />


                <button hidden #next></button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                
                
                <div class="overlay-panel overlay-right">
                    <div class="map-card">
                        
                    </div>
                                              
                    <button class="ghost btn btn-round btn-outline btn-block"  (click)="next.click()" >Create</button>
                </div>
            </div>
        </div>
    </div>
</section>