<app-loader *ngIf="isLoading"></app-loader>
<section class="coloredSection">
    <div *ngIf="!isLoading" class="container {{this.status}} " id="container">
        <div class="form-container sign-up-container card">
            <form action="#" [formGroup]="form" (submit)="onSubmit()">
                <h3>Complete your account</h3>

                <input 
                    formControlName="city"
                    name="city"
                    class="{{cityClass}}" 
                    type="text" 
                    placeholder="{{cityError}}" 
                />

                <input
                    formControlName="phone"
                    name="phone"
                    class="{{phoneClass}}"  
                    type="number" 
                    placeholder="{{phoneError}}" 
                />

                <input 
                    formControlName="password"
                    name="password"
                    class="{{passwordClass}}" 
                    type="password" 
                    placeholder="{{passwordError}}"
                 />

                <input 
                    formControlName="repeatPassword"
                    name="repeatPassword"
                    class="{{repeatClass}}" 
                    type="password" 
                    placeholder="{{repeatError}}" 
                />
                <br>
                <button class="btn btn-round btn-block btn-info">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="formA" (submit)="getName()">
                <h1>Create Account</h1>
                <div class="social-container">
                    <div class="social-line text-center">
                        <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <span>or</span>

                <input
                    formControlName="name"
                    name="name"
                    class="{{nameClass}}" 
                    type="text" 
                    placeholder="{{nameError}}" 
                />
                <input 
                    formControlName="email"
                    name="email"
                    class="{{emailClass}}" 
                    type="email" 
                    placeholder="{{emailError}}" 
                />
                <input 
                    name="image"
                    type="file" 
                    #filePicker 
                    hidden 
                    (change)="onImagePicked($event)"
                />                

                <select 
                    formControlName="type"
                    name="type"
                    class="form-select {{typeClass}}" 
                    aria-label="Default select example"
                >
                    <option class="input" [ngValue]="null" disabled selected>{{typeError}}</option>
                    <option class="input" placeholder="qsdjhk" [ngValue]="'transporter'">Transporter</option>
                    <option class="input" [ngValue]="'client'">Client</option>
                </select>

                <button hidden #next></button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>One More Step</h1>
                    <p>Please chose you profile image</p>
                    <br>
                    <a  class="file" href="#/signup" (click)="filePicker.click()">
                        <img 
                        src={{imgUrl}} 
                        class="img-circle img-no-padding img-responsive img" 
                        alt="Rounded Image" 
                        >
                    </a>
                    <br>
                    <p>Or</p>
                    <button class="ghost btn btn-round btn-outline btn-block"  (click)="onSwitch(0)">Go back</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <br>
                    <button class="ghost btn btn-round btn-outline btn-block"  (click)="onSwitch(1) ; next.click()" >Next</button>
                </div>
            </div>
        </div>
    </div>
</section>
        

