$prime : #96bd8b ;
$bluer : #0e6b80 ;
nav{
    float :right ;
    ul {
        list-style-type: none;
        margin : 0 ;
        display : flex ;
        
    }
}

.dropmen:hover {
  background-color: #51bcda !important;
  font-style: gras ;
  font-size: medium !important;
}

.dropmen2:hover {
  background-color:  #f5593d !important;
  font-style: gras ;
  font-size: medium;
}

.dropmen{
  background-color: white !important;
  font-size: small !important;
}
li a:hover:not(.active) { padding-top : 1em ;}
li a.btn:hover:not(.active) { padding-top : 0.5em ; padding-left :1em ; }
.navbar {
    box-shadow:  
    0 10px 20px -12px rgba(0, 0, 0, 0.42), 
    0 3px 20px 0 rgba(0, 0, 0, 0.12), 
    0 8px 10px -5px rgba(0, 0, 0, 0.2); 
}
.navbar-transparent {
    background: transparent !important;
    border-bottom: 1px solid transparent;
    box-shadow: none;
}

.avatar {
    // vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .btn-group{
   
    .btn {
        background-color: #51bcda;
        border-color: #51bcda;
        padding: 0em 18px;
    }
  }

  @media screen and (max-width: 990px) {

    .btn-group{  
    .btn{
        margin: 0px;
        background-color: #51bcda;
        border-color: #51bcda;
        padding: 0em 0px;
    }

    .dropdown-menu{
        position: absolute;
        border-radius: 27px;
        margin-top: 0px;
        height: 133px;
        overflow-y: hidden;
    }
}



.menu-wrap {
  .nav-link {
     margin: 0px 0px; 
   padding: 12px 0px;
   color: #9A9A9A !important;
  }
  ul {
      list-style: none; 
      padding: 0;
      margin: 0;
      background: #51bcda;
      margin-top: -20px;
      height: 0px;
    width: 50%;
    }
    ul li {
      display: block;
      position: relative;
      float: left;
      background: #51bcda;
    }
    /* This hides the dropdowns */
    li ul {
      display: none;
    }
    ul li a {
      display: block;
      padding: 1em;
      text-decoration: none;
      white-space: nowrap;
      color: #fff;
    }
    ul li a:hover {
      background: #51bcda;
    }
    /* Display the dropdown */
    li:hover > ul {
      display: block; 
      position: absolute;
    }
    /* Remove float from dropdown lists */
    li:hover li {
        float: none;
    }
   
    li:hover li a:hover {
      background: #2c3e50;
    }
    .main-navigation li ul li {
      border-top: 0;
    }
    /* Displays second level dropdowns to the right of the first level dropdown */
    ul ul ul {
      left: 100%;
      top: 0; 
    }
    
    
    /* Simple clearfix */
    
    ul:before,
    ul:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    
    ul:after {
        clear: both;
    }
}


  }


.menu-wrap {
    ul {
        list-style: none; 
        padding: 0;
        margin: 0;
        background: #ffffff;
        margin-top: -20px;
        font-weight: 600;
        
      }
     /* ul li {
        display: block;
        position: relative;
        float: left;
        background: #ffffff;
      }*/
      /* This hides the dropdowns */
      li ul {
        display: none;
      }
      ul li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        white-space: nowrap;
        font-weight: 600;
        color: rgb(0, 0, 0);
      }
      ul li a:hover {
        background: #2c3e50;
        color: rgb(255, 255, 255);
        font-weight: 600;
      }
      /* Display the dropdown */
      li:hover > ul {
        display: block; 
        position: absolute;
      }
      /* Remove float from dropdown lists */
      li:hover li {
          float: none;
      }
     
      li:hover li a:hover {
        background: #2c3e50;
      }
      .main-navigation li ul li {
        border-top: 0;
      }
      /* Displays second level dropdowns to the right of the first level dropdown */
      ul ul ul {
        left: 100%;
        top: 0; 
      }
      
      
      /* Simple clearfix */
      
      ul:before,
      ul:after {
          content: " "; /* 1 */
          display: table; /* 2 */
      }
      
      ul:after {
          clear: both;
      }











      
}
  

 