<section class="coloredSection" >
  <app-loader *ngIf="isLoading"></app-loader>  
  <div class="container" *ngIf="!isLoading">

    <div class="product-image" id="left">

      <img 
      src={{delivery.ownerPhoto}} 
      class="img-circle img-no-padding img-responsive img" 
      alt="Rounded Image" 
      >   
      
      <h1 class="info">{{delivery.ownerName}}</h1>
      <a href="#"><i class="fa fa-phone"></i> {{delivery.ownerPhone}}</a>
      <a href="#"><i class="fa fa-envelope"></i> {{delivery.ownerEmail}}</a>

      <div class="map-card">
                        
      </div>
      
    </div>
        
    <div class="product-details" id="right">
      <header>
        <h1 class="title">{{delivery.originAddress}} To {{delivery.deliveryAddress}}</h1>

        <br>

        <div class="rounded-nav">
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle><h3>Requested Items</h3></ng-template>
              <ng-template ngbTabContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Client</th>
                      <th scope="col">Parcel</th>
                      <th scope="col">Weight</th>
                    </tr>
                  </thead>
                  <tbody>
  
                    <tr *ngFor="let item of requestedItems">
                      <td>
                        <img [src]="delivery.ownerPhoto" class="mr-2" style="width: 20px">
                        Ahmed Andolsi
                      </td>
                      <td>{{item.name}}</td>
                      <td>{{item.weight}}</td>
                    </tr>
                    <tr class="plus-row" [routerLink]="['/add-item', delivery.id]">
                      <td></td>
                      <td class="plus">
                        <div class="plus">
                          <i class="fa fa-plus"></i> 
                        </div>
                      </td>
                      <td></td>
                    </tr>
                    
  
                  </tbody>
                </table>
                
                
              </ng-template>
            </ngb-tab>
  
            <ngb-tab id="tab-selectbyid2">
              <ng-template ngbTabTitle><h3>Accepted Items</h3></ng-template>
              <ng-template ngbTabContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Country</th>
                      <th scope="col">Area</th>
                      <th scope="col">Population</th>
                    </tr>
                  </thead>
                  <tbody>
  
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <img [src]="delivery.ownerPhoto" class="mr-2" style="width: 20px">
                        Rami el bou
                      </td>
                      <td>valise</td>
                      <td>2Kg</td>
                    </tr>
  
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <img [src]="delivery.ownerPhoto" class="mr-2" style="width: 20px">
                        Ahmed Andolsi
                      </td>
                      <td>valise</td>
                      <td>2Kg</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <img [src]="delivery.ownerPhoto" class="mr-2" style="width: 20px">
                        Ahmed Andolsi
                      </td>
                      <td>valise</td>
                      <td>2Kg</td>
                    </tr>
  
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </header>
      <div class="controls">
        <div class="size">
          <h4 class="">Date: <br>{{delivery.departDate.toLocaleDateString()}}</h4>
        </div>
        <div class="size">
          <h4 class="">Depart Time: <br>{{delivery.departDate.toLocaleTimeString('it-IT')}}</h4>
        </div>
        <div class="size">
          <h4 class="">Expected Arrive: <br>{{delivery.expectedArrivalDate.toLocaleTimeString('it-IT')}}</h4>
        </div>
      </div>
    </div>
    
  </div>

</section>