<section class="coloredSection" >
  <app-loader *ngIf="isLoading"></app-loader>  
  <div class="container" *ngIf="!isLoading">

    <div class="product-image" id="left">

      <img 
      src={{delivery.ownerPhoto}} 
      class="img-circle img-no-padding img-responsive img" 
      alt="Rounded Image" 
      >   
      
      <h1 class="info">{{delivery.ownerName}}</h1>
      <a href="#"><i class="fa fa-phone"></i> {{delivery.ownerPhone}}</a>
      <a href="#"><i class="fa fa-envelope"></i> {{delivery.ownerEmail}}</a>

      <div class="map-card">
                        
      </div>
      
    </div>
        
    <div class="product-details" id="right">
      <header>
        <h1 class="title">{{delivery.originAddress}} To {{delivery.deliveryAddress}}</h1>

        <br>

        <div class="rounded-nav">
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle><h3>Requested Items</h3></ng-template>
              <ng-template ngbTabContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Client</th>
                      <th scope="col">Parcel</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Accept</th>
                    </tr>
                  </thead>
                  <tbody >
  
                    <tr *ngFor="let item of requestedItems" class="overflow-auto">
                      <td class="name">
                        <img [src]="item.ownerPhoto" class="mr-2" style="width: 20px">
                        {{item.ownerName}}
                      </td>
                      <td>{{item.name}}</td>
                      <td>{{item.weight}} g</td>
                      <th scope="col" (click)="onAcceptItem(item.id)"><i class="fa fa-plus" style="margin-left: 20%;"></i></th>

                    
                  </tbody>
                </table>
                <div class="btn btn-info plus btn-block" [routerLink]="['/add-item', delivery.id]">
                  <i class="fa fa-plus"></i> 
                </div>
                
                
              </ng-template>
            </ngb-tab>
  
            <ngb-tab id="tab-selectbyid2">
              <ng-template ngbTabTitle><h3>Accepted Items</h3></ng-template>
              <ng-template ngbTabContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Client</th>
                      <th scope="col">Parcel</th>
                      <th scope="col">Weight</th>
                    </tr>
                  </thead>
                  <tbody>
  
                    <tr *ngFor="let item of acceptedItems" class="overflow-auto">
                      <td>
                        <img [src]="item.ownerPhoto" class="mr-2" style="width: 20px">
                        {{item.ownerName}}
                      </td>
                      <td>{{item.name}}</td>
                      <td>{{item.weight}} g</td>
                    <tr>
  
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </header>
      <div class="controls">
        <div class="size">
          <h4 class="">Date: <br>{{delivery.departDate.toLocaleDateString()}}</h4>
        </div>
        <div class="size">
          <h4 class="">Depart Time: <br>{{delivery.departDate.toLocaleTimeString('it-IT')}}</h4>
        </div>
        <div class="size">
          <h4 class="">Expected Arrive: <br>{{delivery.expectedArrivalDate.toLocaleTimeString('it-IT')}}</h4>
        </div>
      </div>
    </div>
    
  </div>

</section>