<section class="coloredSection" >
    
    <div class="container">
        <!--   https://www.jerecho.com/codepen/nike-product-page/ -->
          <div class="product-image">
            <img 
            src={{delivery.ownerPhoto}} 
            class="img-circle img-no-padding img-responsive img" 
            alt="Rounded Image" 
            >   
            
            <h1 class="title">Nike Roshe Run</h1>
        </div>
          
          <div class="product-details">
            <header>
              <h1 class="title">From: {{delivery.originAddress}}</h1>
              <h1 class="title">To: {{delivery.deliveryAddress}}</h1>
              <span class="colorCat">mint green</span>
              <div class="price">
                <span class="before">$150</span>
                <span class="current">$144.99</span>
              </div>
              <div class="rate">
                <a href="#!" class="active">★</a>
                <a href="#!" class="active">★</a>
                <a href="#!" class="active">★</a>
                <a href="#!">★</a>
                <a href="#!">★</a>
              </div>
            </header>
            <article>
              <h5>Description</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
            <div class="controls">
              <div class="color">
                <h5>color</h5>
                
              </div>
              <div class="size">
                <h5>size</h5>
                <a href="#!" class="option">(UK 8)</a>
              </div>
              <div class="qty">
                <h5>qty</h5>
                <a href="#!" class="option">(1)</a>
              </div>
            </div>
          </div>
          
        </div>
        

</section>