/* You can add global styles to this file, and also import other style files */
// Variables
$dark: #343A40;
$info: #51BCDA;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-cyan);
$my-app-accent:  mat-palette($mat-blue-grey, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
